*.env
senhas.py
credentials/*.json
# Virtual environment
.venv/
venv/

# Arquivos grandes/temporários
*.zip
__pycache__/*.*
arq_descompactado/*.*
csv/*.*
temp_extract/*.*
documentos_pdf/
src/documentos_pdf
src/convert/csv/*.*
src/convert/arq_save/*.*
src/convert/temp_extract/*.*
src/convert/documentos_pdf/*.*
data/*.*
src/convert/arq_descompactado/*.*
src/convert/csv/*.csv
